# VIM
.*.swo
.*.swp
tags
#CVS
.cvsignore
#OS X
.DS_Store
._*
#Windows
Thumbs.db
#FILES
.metadata
#FILES
.metadata/
desktop.ini
#jrtr FILES
jrtr/.classpath
jrtr/.cvsignore
jrtr/.project
jrtr/bin/*
jrtr/bin/**/*
jrtr/doc
jrtr/textures/*
jrtr/textures/**/*

#matlab FILES
matlab/out/*

#models
models/*
#output_files
out_files/*.txt

#scene ignores
scene/.classpath
scene/.cvsignore
scene/.project
scene/bin/*
scene/bin/**/
scene/bin/**/*.class
scene/*.png
#snapshots
screenshots/*
*.aux
*.log
*.gz
document/Source/thesis.synctex.gz
